<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Início</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body th:replace="~{fragments/layout :: layout}">
<div th:fragment="content">
  <div class="container mt-5">

    <h1>CADASTRAR USUÁRIO</h1>
    <form action="/cadastrarUsuario" method="post"
          style="border: 2px solid #8D6E63; padding: 20px; border-radius: 8px; background-color: #fff;">

      <div class="form-group mb-3">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
      </div>

      <div class="form-group mb-3">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>

      <div class="form-group mb-3">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" name="senha" required>
      </div>

      <div class="form-group mb-3">
        <label for="tipo">Tipo de Usuário</label>
        <select class="form-control" id="tipo" name="tipo" required>
          <option value="" disabled selected>Selecione...</option>
          <option value="ADMIN">Administrador</option>
          <option value="CLIENTE">Cliente</option>
          <option value="FUNCIONARIO">Funcionário</option>
        </select>
      </div>

      <button type="submit" class="custom">Enviar</button>

      <p th:text="${message}" class="text-muted mt-3"></p>
    </form>

  </div>
</div>
</body>
</html>
